.contact__greetings {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 65px 0;
}

.greetings__text {
  display: inline-block;
  padding: 25px;
  width: 70%;
}

.greetings__text > :first-child{
  font-weight: bold;
}

.greetings__avatar {
  background-image: url(../../images/avatar-thumbnail.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100% 100%;
  display: inline-block;
  height: 155px;
  width: 155px;
}