@import "../../styles/variables.scss";
@import "../../styles/animations.scss";

$paper-plane-top: 330px;

.check {
  background-image: url("../../images/svg/check.svg");
  height: 0;
  width: 0;

  &:nth-child(1) {
    left: 0%;
    padding: 30px;
    top: 50px;
    transform: rotate(-20deg);
  }

  &:nth-child(2) {
    padding: 37.5px;
    right: 0%;
    top: 75px;
    transform: rotate(-25deg);
  }

  &:nth-child(3) {
    left: 15%;
    padding: 35px;
    top: 150px;
    transform: rotate(-17deg);
  }

  &:nth-child(4) {
    padding: 32.5px;
    right: 20%;
    top: 150px;
    transform: rotate(-25deg);
  }

  &:nth-child(5) {
    left: 32.5%;
    padding: 30px;
    top: 75px;
    transform: rotate(-21deg);
  }

  &:nth-child(6) {
    padding: 27.5px;
    right: 32.5%;
    top: 25px;
    transform: rotate(-25deg);
  }
}

.cta__btn {
  background: $white;
  color: $purple;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 40px 30px #0004;
  font-weight: bold;
  font-size: 20px;
  height: fit-content;
  letter-spacing: 2px;
  margin: auto;
  max-width: fit-content;
  text-transform: uppercase;
  padding: 25px;
}

.cta__paper-plane {
  animation: wave 4s ease-in-out infinite;
  background-image: url("../../images/svg/paperplane.svg");
  height: 30px;
  left: 0;
  right: 0;
  top: 425px;
  margin: 0 auto;
  width: 81px;

  @media screen and (min-width: 700px) {
    right: 470px;
    top: 345px;
  }
}

.cta__paper-plane--dark {
  content: "";
  animation: waveBlur 4s ease-in-out infinite;
  background-image: url("../../images/svg/dark-paperplane.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  filter: blur(3.5px);
  height: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity: 0.45;
  position: absolute;
  transform: rotateX(180deg);
  top: 440px;
  width: 81px;

  @media screen and (min-width: 700px) {
    right: 470px;
    top: 346px;
  }
}

.light-bulb {
  background-image: url("../../images/svg/lightbulb.svg");

  &:nth-child(1) {
    height: 60px;
    width: 60px;

    @media screen and (min-width: 700px) {
      height: 135px;
      width: 135px;
    }
  }

  &:nth-child(2) {
    height: 40px;
    left: 50px;
    top: 60px;
    transform: rotate(40deg);
    width: 50px;
    @media screen and (min-width: 700px) {
      height: 87px;
      left: 110px;
      top: 127px;
      width: 87px;
    }
  }
}

.our-mission {
  background: linear-gradient(to bottom, $black, $purple);
  overflow-x: hidden;
  position: relative;
}

.our-mission__canvas {
  left: 0;
  position: absolute;
  top: 0;
}

.our-mission__logo {
  background-image: url("../../images/svg/logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
  margin-top: -200px;
  margin-bottom: -70vw;
  width: 100%;
  @media screen and (min-width: 515px) {
    // this needs to be really specific
    margin-bottom: -45vw;
  }
  @media screen and (min-width: 625px) {
    // this needs to be really specific
    margin-bottom: -30vw;
  }
  @media screen and (min-width: 835px) {
    // this needs to be really specific
    margin-bottom: -227px;
  }
}

.our-mission__paragraph {
  font-size: 16px;
  margin-bottom: 80px;
  @media screen and (min-width: 700px){
    font-size: 32px;
  }
}

.our-mission__svg-group {
  padding-bottom: 240px;
  position: relative;

  @media screen and (min-width: 700px){
    padding-bottom: 300px;
  }
}

.our-mission__title {
  font-size: 25px;
  letter-spacing: 0.15em;
  padding: 100px 0 80px;
  text-transform: uppercase;
  @media screen and (min-width: 700px){
    font-size: 40px;
    padding: 190px 0 80px;
  }
}

.our-mission__title,
.our-mission__paragraph {
  color: $white;
  text-align: center;
}

.our-mission__svg {
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}

.paper-plane {
  background-image: url("../../images/svg/planes.svg");
  height: 40%;
  left: 27%;
  top: 50px;
  width: 57%;
  transform: rotate(29deg);

  @media screen and (min-width: 700px) {
    height: 40%;
    left: 30%;
    top: 50px;
    width: 100%;
    transform: rotate(0deg);
  }
}

.planet {
  background-image: url("../../images/svg/planet.svg");
  height: 26vw;
  max-height: 295px;
  max-width: 295px;
  left: 73%;
  top: 141px;
  width: 58vw;
  
  @media screen and (min-width: 700px) {
    height: 17vw;
    left: 76%;
    top: 14px;
    width: 30vw;
  }
}

.svg-group--spacing {
  margin-top: 120px;
}

.cta {
  display: flex;
  height: 400px;
  padding-top: 150px;
  position: relative;
  width: 100%;
}
