@import '../../styles/variables.scss';

.our-mission {
    overflow-x: hidden;
    position: relative;
    background: -webkit-linear-gradient(top, $black, $purple);
}

.our-mission__canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.our-mission__title {
    letter-spacing: 0.15em;
    padding: 190px 0 80px;
    text-transform: uppercase;
    font-size: 40px;
}

.our-mission__paragraph {
    font-size: 32px;
    margin-bottom: 80px;
}

.our-mission__title, .our-mission__paragraph {
    color: $white;
    text-align: center;
}

.our-mission__svg-group {
    position: relative;
    padding-bottom: 300px;
}

.svg-group--spacing {
    margin-bottom: 100px;
}

.light-bulb {
    &:nth-child(1) {
        width: 135px;
        height: 135px;
    }
    &:nth-child(2) {
        top: 100px;
        left: 135px;
        width: 87px;
        height: 87px;
        transform: rotate(40deg);
    }
    background-image: url('../../images/svg/lightbulb.svg');
}

.paper-plane {
    top: 50px;
    left: 30%;
    width: 81px;
    height: 30px;
    background-image: url('../../images/svg/paperplane.svg');
}

.planet {
    right: 0;
    width: 30vw;
    height: 30vw;
    max-width: 295px;
    max-height: 295px;
    background-image: url('../../images/svg/planet.svg');
}

.check {
    width: 0;
    height: 0;
    &:nth-child(1) {
        transform: rotate(-20deg);
        padding: 30px;
        top: 50px;
        left: 0%;
    }
    &:nth-child(2) {
        transform: rotate(18deg);
        padding: 37.5px;
        top: 75px;
        right: 0%;
    }
    &:nth-child(3) {
        transform: rotate(-17deg);
        padding: 35px;
        top: 150px;
        left: 15%;
    }
    &:nth-child(4) {
        transform: rotate(15deg);
        padding: 32.5px;
        top: 150px;
        right: 20%;
    }
    &:nth-child(5) {
        transform: rotate(-21deg);
        padding: 30px;
        top: 75px;
        left: 32.5%;
    }
    &:nth-child(6) {
        transform: rotate(25deg);
        padding: 27.5px;
        top: 25px;
        right: 32.5%;
    }
    background-image: url('../../images/svg/check.svg');
}

.our-mission__svg {
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
}

.our-mission__logo {
    width: 100%;
    height: 600px;
    background-image: url('../../images/svg/logo.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: -200px;
}