@import "../../styles/variables.scss";

.package {
  border-radius: 25px;
  display: flex;
  font-style: normal;
  font-weight: normal;
  flex-direction: column;
  letter-spacing: 0.15em;
  margin: 40px auto;
  max-width: 300px;

  @media (min-width: 700px) {
    margin: 15px;
    max-width: 381px;
  }
}

.package__type {
  font-size: 25px;
  line-height: 37px;
  padding: 0;
  text-align: center;
}

.package__price {
  color: #ffffff;
  font-size: 45px;
  text-align: center;
}

.package__features {
  color: $white;
  font-size: 18px;
  line-height: 27px;
  padding: 27px 27px 125px;

  @media (min-width: 700px) {
    padding: 27px 27px 95px;
  }
}

.package__features li {
  border-top: 1px solid $white;
  padding: 20px 0;
}

.package__body {
  height: 0px;
  position: relative;
  overflow: hidden;

  @media (min-width: 700px) {
    height: 100%;
    overflow: unset;
  }
}

.package__body--open {
  height: 100%;
  overflow: unset;
}

.package__head {
  background-size: cover;
  background-image: url(../../images/svg/package-vector-top.svg);
  background-repeat: no-repeat;
  padding: 0 0 55px;
  position: relative;
  top: -1px;

  @media (min-width: 700px) {
    background-size: contain;
    padding: 0 0 82px;
  }
}

.package__btn {
  bottom: 0;
  left: 0;
  margin: 10px auto;
  position: absolute;
  right: 0;
  text-decoration: none;
  width: max-content;
}

.package--basic {
  background-color: $purple;

  .package__btn--seemore {
    color:$purple;
  }
}

.package--standard {
  background-color: $pink;

  .package__btn--seemore {
    color: $pink;
  }
}

.package--premium {
  background-color: $orange;

  .package__btn--seemore {
    color: $orange;
  }
}

.btn--seemore {
  background-color: $white;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: block;
  font-family: $mainFont;
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
  letter-spacing: 0.15em;
  padding: 8px 0 19px;
  width: 100%;

  @media (min-width: 700px) {
    display: none;
  }
}
