@import "./variables.scss";

.nav__bar {
  align-items: center;
  background: linear-gradient(90deg, $lightPurple, $pink);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav__logo {
  width: 105px;
}

.post__date {
  font-size: 14px;
}

.post__frame {
  border-radius: 10px;
  display: flex;
  height: 228px;
  justify-content: center;
  overflow: hidden;
  width: 275px;
}

.post__image {
  height: 100%;
}

.post__link {
  text-decoration: none;
}

.post__title {
  color: $black;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.08px;
}

.post__preview {
  color: #484848;
}

.post__wrapper {
  border-bottom: 1px solid #D5D5D5;
  padding: 50px 0 20px;
}

.blog__title {
  padding: 70px 0 30px;
}

.menu {
  background: linear-gradient(90deg, $lightPurple, $pink);
}