@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

//Breakpoints
$large: 1367px;
$medium: 1025px;

//Colors
$black: #000;
$lightPurple: #8b1C63;
$orange: #ef5b37;
$pink: #bd385b;
$purple: #72146b;
$salmon: #ef5147;
$white: #fff;

//Fonts
$mainFont: "poppins", Arial, Helvetica, sans-serif;

// Layout
$layoutSize: 960px;