.contact__greetings {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 50px;

  @media screen and (min-width: 700px) {
    flex-direction: row;
  }
}

.greetings__text {
  display: inline-block;
  padding: 25px;
  text-align: center;
  width: 90%;

  @media screen and (min-width: 700px) {
    text-align: left;
    width: 70%;
  }
}

.greetings__text > :first-child{
  font-weight: bold;
}

.greetings__avatar {
  background-image: url("../../../images/avatar-thumbnail.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100% 100%;
  display: inline-block;
  height: 155px;
  width: 155px;
}