@import'../../styles/variables.scss';

.header {
  background: linear-gradient(115.34deg, $purple 1.69%,$purple 16.55%, $lightPurple 30.29%,
  $lightPurple 30.29%, $orange 80.16%, $orange 91.86%, $salmon 100.01%);
}

h1,h3 {
  text-transform: uppercase;
}

.header__tittle{
  width: 280px;
  margin-bottom: 20px;
}

.header__title--color-white {
  color:$white;
}

.header__text {
  color: $white;
  width: 220px;
}

.header__menu {
  display: flex;
  justify-content: flex-end;
  margin-top: -25px;
  margin-bottom: 70px;
}

.menu__btn + .menu__btn {
  margin-left: 10px;
}

.header__btn{
  margin-top: 25px;
}

.header__logo{
  padding-top: 50px;
}

.header__arrow {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
  padding-top: 85px;
  background: none;
  border: 0;
  cursor: pointer;
}
