@import'../../styles/global.scss';

.btn {
    background: $white;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    font-family: $mainFont;
    font-style: normal;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    padding: 10px;
    text-align: center;
}

.btn--primary {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.35);
    color: $purple;
    font-size: 20px;
    height: 60px;
    letter-spacing: 0.2em;
    transition: 0.5s;
}

.btn--primary:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35);
    transition: 0.5s;
}

.btn--secondary {
    background: $black;
    color: $white;
    letter-spacing: 0.15em;
    line-height: 25px;
}