.container__svg {
  height: 200px;
  padding: 25px;
  position: absolute;
  text-align: center;
  top: 25vh;
  left: 55vw;
}

.svg__paragraph {
  color: #fff;
  display: block;
  text-transform: uppercase;
  max-width: 250px;
  text-align: center;
}

#paperplane {
  path:nth-child(n + 3),
  path:nth-child(-n + 11) {
    stroke-dasharray: 30;
    stroke-dashoffset: 0;
  }
}

#stats {
  stroke-dasharray: 238;
  stroke-dashoffset: 0;
  rect:nth-child(-n + 4) {
    transform: rotate(180deg);
  }
  @for $i from 1 through 4 {
    rect:nth-child(#{$i}) {
      transform-origin: (58% - 10 * $i) 45%;
    }
  }
}
