@import '../../styles/variables.scss';

.container{
    display: flex;
    padding-top: 90px;
    place-content: center;
    
}

.container__info{
    height: 334px;
    width: 633.55px;
    & :nth-child(-n + 2){ 
        padding-bottom: 50px;
    }
    & :nth-child(1):nth-child(3){
        padding-right: 160px;
    }

    /*@media (min-width: $medium) {
        
    }

    @media (min-width: $large) {
        
    }*/
}

.info__tile{
    width: 580px;

   /*@media (min-width: $medium) {
        
    }

    @media (min-width: $large) {
        
    }*/
}

.info__paragraph{
    font-size: 12px;

    @media (min-width: $large) {
        font-size: 27px;
    }
}

.info__button{
    /*@media (min-width: $medium) {
        
    }

    @media (min-width: $large) {
        
    }*/

}

.container__animation{
    /*
    @media (min-width: $medium) {
        
    }

    @media (min-width: $large) {
        
    }*/
}

#comunicado{
    max-width: 71px;
    @media (min-width: $medium) {
        max-width: 104px;
    }

    @media (min-width: $large) {
        max-width: 189px;
    }

}

#media{

}

#grafica{
    
}